.Navbar {
    display: flex;
    height: 3.5rem;
    background-color: black;
    width: 100%;
}
.Container {
    color: white;
    font-size: 90%;
    width: 100%;
    text-shadow: 0px 0px 5px whitesmoke;
}
#CanvasContainer {
    height: 900px;
    min-width: 80%;
    max-width: 600px;
    max-height: 900px;
    background-color: black;
    -webkit-box-shadow:0px 0px 88px 12px #000000 ;
    -moz-box-shadow:0px 0px 88px 12px #000000 ;
    box-shadow:0px 0px 88px 12px #000000 ;
}

.PhysicsContainer{
  max-width: 1920px;
  padding: 5%;
}
.PhysicsContainer > h1 {
    display: flex;
    min-height: 100%;
    align-items: center;
    min-height: 100%;
}
.PhysicsContainer > h1 > i {
    font-size: 70%;
    margin-left: 1%;
    filter: drop-shadow(0px 0px 5px whitesmoke);
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.PhysicsContainer > h1 > i:hover {
    color: brown;
    filter: drop-shadow(0px 0px 5px black);
}
#gui{
    position: absolute;
    z-index: 2;
}
